.toggleButtons{
    -fx-background-color: grey;
    -fx-background-radius: 15 30 15 30;
    -fx-effect: dropShadow(three-pass-box, #999, 0, 0, 0, 10);
}

.toggleButtons:selected{
    -fx-effect: dropShadow(three-pass-box, #999, 0, 0, 0, 5);
    -fx-translate-y: 5;
}

.serviceToggleButton{
    -fx-background-color: grey;
    -fx-background-radius: 15 30 15 30;
    -fx-effect: dropShadow(three-pass-box, #999, 0, 0, 0, 10);
}

.serviceToggleButton:selected{
    -fx-background-color: red;
    -fx-effect: dropShadow(three-pass-box, #999, 0, 0, 0, 5);
    -fx-translate-y: 5;
}

.toggleButtons:disabled{
    -fx-background-color: lightgrey;
    -fx-background-radius: 15 30 15 30;
}

.controls{
    -fx-fill: lightsteelblue;
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-stroke: black;
}


#doorsLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#moveUpLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#moveDownLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#doorsControlLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#serviceControlLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#motorControlLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#motorUpControlLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#bellControlLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#firstFloorLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 50;
    -fx-font-weight: bold;
}
#secondFloorLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 50;
    -fx-font-weight: bold;
}
#thirdFloorLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 50;
    -fx-font-weight: bold;
}

#fourthFloorLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 50;
    -fx-font-weight: bold;
}
#fifthFloorLabel{
    -fx-text-fill: #353634;
    -fx-font-size: 50;
    -fx-font-weight: bold;
}